body {
    margin: 0;
    background:#A59CD3;
}
header {
    display:grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
}
h1 {
    font-family:'Times New Roman', Times, sans-serif;
    color:#4B2D9F;
    font-size: 3em;
    border-style: dotted;
    text-align: center;
    background-color: #E3C515;
}
div {
    text-align: right;
}
.shopping {
    max-width: 2.5%;
}
.hero {
    max-width:90%;
    padding-bottom: 50px;
    padding-left: 70px;
}

main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#4B2D9F;
}
main section img {
    justify-content:center;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    color:#4B2D9F;
    background-color: #E3C515
}
footer {
    font-family:Arial, Helvetica, sans-serif;
}