@media only screen and (min-width: 1rem) {
  body {
    background: #a59cd3;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .head-title {
    font-family: "Times New Roman", Times, sans-serif;
    color: #4b2d9f;
    font-size: 1.5rem;
    border-style: dotted;
    text-align: center;
    background-color: #e3c515;
    position: absolute;
    top: 10rem;
    left: 3.1rem;
  }
  .shopping {
    margin-inline-start: 11ch;
  }
  #shopping {
    cursor: pointer;
    max-width: 10%;
  }
  .cart {
    width:80px;
  }
  .hero {
    padding-bottom: 3rem;
    width: 23rem;
  }

  main,
  .products {
    font-family: Arial, Helvetica, sans-serif;
    color: #4b2d9f;
  }
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4b2d9f;
    background-color: #e3c515;
    cursor: pointer;
    width: 3.6rem;
    height: 1.8rem;
  }
  .buy {
    font-size: 1.2em;
  }
  .shop-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #4b2d9f;
    gap: 1rem;
  }
  .price {
    color:darkred;
    font-weight: bold;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card > img {
    width: 6rem;
    height: 6rem;
  }

  /*--SHOPPING CART DISPLAY--*/
  .modal-container {
    width: 23rem;
    margin:0;
    max-height: 88vh;
    color: #a59cd3;
    background-color: black;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 10vh;
    scrollbar-color: none;
    text-align: center;
  }
  .modal-content > h3 {
    text-align:left;
    font-size: smaller;
  }
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header-title {
    justify-self: start;
  }
  .modal-header {
    display: grid;
    grid-template-columns:1fr 0.1fr;
    justify-content: center;
    align-items:center;
    background-color: black;
    color: #a59cd3;
    width: 100%;
  }
  .modal-header-button {
    cursor: pointer;
  }
  .modal-container > .modal-content {
    display: grid;
    grid-template-columns:repeat(2, 50px) repeat(3, 50px) 0.25fr;
    justify-content: space-around;
    align-items: center;
    width: 3.2rem;
    margin: 0 10rem;
    grid-gap:0.8rem;
  }

  .modal-container > div > img {
    height: 50px;
    width: 50px;
  }
  .total-content {
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
    padding-top: 1rem;
  }

  .remove-product {
    cursor: pointer;
  }

  .cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.7em;
    text-align:center;
    padding: 0.3rem;
    top: -4rem;
    right: -1.75rem;
    position: relative;
    display: none;
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media only screen and (min-width: 37.5rem){
  .head-title {
    font-size:3rem;
    top: 10rem;
    left: 6rem;
  }
  .shopping {
    margin-inline-start: 28ch;
  }
  #shopping {
    max-width: 5%;
  }
  .cart {
    width:100px;
  }
  .hero {
    padding-bottom: 4rem;
    width: 44rem;
    margin: 0 0.7rem;
  }
  .cantidad-carrito {
    font-size: 0.9em;
    text-align:center;
    padding: 0.3rem;
    top: -4.8rem;
    right: -2.3rem;
  }
  .modal-container {
    width:37rem;
    margin:4.1rem;
    max-height: 88vh;
    top: 12vh;
  }
  .modal-container > .modal-content {
    width: 17rem;
    margin: 1rem 10rem;
    grid-gap:0.9rem;
    grid-template-columns:repeat(5, 100px) 0.25fr;
    margin-bottom: 1rem;
  }
  .modal-container > div > img {
    height:100px;
    width:100px;
  }
  .modal-content {
    font-size:1.5rem;
  }
  .modal-content > h3 {
    font-size: 1.5rem;
  }
}
